.btnWrapper {
  text-align: end;
  margin-top: 25px;
}

/* INPUT & SELECT */

.inputWrapper, 
.selectWrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.row .inputWrapper { flex: 1; }