:root {
    --evalpro-color-red: #E30613;
    --evalpro-color-grey: #e5e5e5;
    --evalpro-color-grey-dark: #5f6061;

    --evalpro-border-radius-m: 15px;
    --evalpro-border-radius-s: 6px;
}

* { font-family: Arial, Helvetica, sans-serif; }

h1 {
    font-weight: 600;
    font-size: 28px;
    color: var(--evalpro-color-red);
}

/* BUTTON */
.button {
    background-color: var(--evalpro-color-red);
    border: 2px solid var(--evalpro-color-red);
    border-radius: var(--evalpro-border-radius-s);
    color: #fff;
    padding: 8px 12px;
}

.button:hover,
.button:focus,
.button:focus-visible {
    background-color: transparent;
    color: var(--evalpro-color-red);
    outline: none;
}

/* INPUT */
.input {
    border: 2px solid var(--evalpro-color-grey);
    border-radius: var(--evalpro-border-radius-s);
    color: #000;
    padding: 8px 12px;

}

.input:focus,
.input:focus-visible {
    border-color: var(--evalpro-color-grey-dark);
    outline: none;
}