:root {
    --evalpro-color-red: #E30613;
    --evalpro-color-grey: #c1c1c1;
    --evalpro-color-grey-dark: #5f6061;

    --evalpro-border-radius-m: 15px;
    --evalpro-border-radius-s: 6px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* HEADLINE */
h1 {
    font-weight: 700;
    font-size: 28px;
    color: var(--evalpro-color-red);
    margin-bottom: 30px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #e30613;
  color: white;
  padding: 20px 0;
}
/* LOGO AREA */
.sidebar-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-wrapper {
  background: white;
    border-radius: 0 0 120px 120px;
    padding: 58px;
    margin-top: -21px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper img {
  width: 100px;
  height: auto;
}


/* MENU */
.menu {
  list-style: none;
  margin-top: 30px;
}

.menu > li {
  margin-bottom: 6px;
}

.menu a,
.menu span {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
}

.menu a:hover,
.menu span:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* SUBMENU */
.has-submenu > span::after {
  content: "⌄";
  float: right;
}

.submenu {
  list-style: none;
  margin-left: 20px;
  margin-top: 5px;
}

.submenu li a {
  font-size: 14px;
  padding: 10px 20px;
  background: white;
  color: #c90511;
  border-radius:  0;
}

.submenu li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 40px;
  background: #f8f8f8;
}

.list-item {
  position: relative;
  padding: 12px 16px;
}

.list-item .actions {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.list-item:hover .actions {
  display: block;
}

/* BUTTON */
.btnDefault {
    background-color: var(--evalpro-color-red);
    border: 2px solid var(--evalpro-color-red);
    border-radius: var(--evalpro-border-radius-s);
    color: #fff;
    padding: 8px 12px;
}

.btnDefault:hover,
.btnDefault:focus,
.btnDefault:focus-visible {
    background-color: transparent;
    color: var(--evalpro-color-red);
    outline: none;
}

.btnPrimary {
    background-color: #fff;
    border: 2px solid var(--evalpro-color-red);
    border-radius: var(--evalpro-border-radius-s);
    color: var(--evalpro-color-red);
    padding: 8px 12px;
}

.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:focus-visible {
    background-color: var(--evalpro-color-red);
    color: #fff;
    outline: none;
}

/* INPUT & LABEL */
.input {
    border: 2px solid var(--evalpro-color-grey);
    border-radius: var(--evalpro-border-radius-s);
    color: #000;
    padding: 8px 12px;
}

.input:focus,
.input:focus-visible {
    border-color: var(--evalpro-color-grey-dark);
    outline: none;
}

.label {margin-bottom: 15px;}

/* SELECT */

.selectWrapper select {
    border: 2px solid var(--evalpro-color-grey);
    border-radius: var(--evalpro-border-radius-s);
    color: #000;
    padding: 8px 12px;
    background-color: #fff;
}
.selectWrapper select option { width: 100%; }

/* CONATINER */

.container { padding: 50px; }
